# MacOS specific
.DS_Store

# Coverage binary
.coverage

#Environment Variables
.env

# Frontend: Node modules
node_modules/

# Frontend: Build output
build/
dist/

# Frontend: Dependency directories
/.pnp
.pnp.js

# Frontend: Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Generated/copied files
public/data/**/*
